* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
}

.navbar {
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: gold;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
  color: gold;
  border-bottom: 2px solid gold;
}

.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0,0,0,0.65);
  padding: 40px 50px;
  text-align: center;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;   /* clean spacing between text and button */
}

.btn {
  display: inline-block;
  padding: 12px 35px;
  background: gold;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}


.section-title {
  text-align: center;
  color: gold;
  margin-bottom: 30px;
}

.cars, .about, .contact {
  padding: 60px 40px;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.car-card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.car-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea, button {
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  background: gold;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background: black;
  text-align: center;
  padding: 15px;
}

.back-home {
  text-align: center;
  margin: 50px 0 20px;
}

.back-btn {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid gold;
  color: gold;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background: gold;
  color: black;
  transform: translateY(-3px);
}

